<div class="container">
<h4 class="mt-2 ml-2">アイテム詳細</h4>
  <div class="row">
    <div class="col-5">
    <%= image_tag @item.get_image(300,400) %>
    </div>
            <table class="col-5">
              <tbody>
                <tr><td>商品名</td><td><%= @item.name %></td><td>(<%= @item.reviews.count %>件のレビュー)</td></tr>
                <tr><td>商品価格</td><td></td><td>¥<%= @item.price %></td></tr>
                <tr><td>商品説明</td><td></td><td><%= @item.introduction %></td></tr>
              </tbody>
            </table>
</div>
<h4 class="mt-2 ml-2">レビュー一覧</h4>
  <table>
    <tbody>
    <% @item.reviews.each do |review| %>
    <tr><td>投稿者:</td><td><%= review.end_user.user_name %></td></tr>
      <!--星評価-->
        <div id="star-rate-<%= review.id %>"></div>
      <tr>
      <td>
        <script>
        var elem = document.getElementById('star-rate-<%= review.id %>');
        var opt = {
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.evaluation %>,
          };
          raty(elem, opt)
        </script>
      </td>
    </tr>
      <tr><td>レビュー内容</td><td><%= review.content %></td></tr>
      <tr>
      <td>
        <%= link_to "削除する", review_path(review), class:"btn btn-danger", method: :delete,"data-confirm"=>"本当に消しますか？" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <!-- col-sm-12 .... --->
  </div>
<!-- row -->
</div>
<!-- container -->