<main>
  <div class="container">
    <h4 class="my-4">ログイン</h4>
      <div class="container">
        <div class="d-flex align-items-center justify-content-center">
          <div class="row">
            <div class="col">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.label :メールアドレス %><br>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="field">
                  <%= f.label :パスワード %><br>
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </div>
                <div class="row my-3">
                  <div class="col-3"></div>
                    <%= f.submit "ログイン", class:"btn btn-outline-primary" %>
                </div>
              <% end %>
              <div class="row">
                会員登録がまだの方<%= link_to 'こちら', new_end_user_registration_path %>から登録をお願いします<br>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>