<h1>アイテム詳細</h1>
  <%= image_tag @item.get_image(300,400) %>
  商品名<%= @item.name %><br>
  (<%= @item.reviews.count %>件のレビュー)<br>
  ¥<%= @item.price %><br>
  <%= @item.introduction %><br>

<h1>レビュー投稿</h1>
  <%= form_with model: [@item, @review] do |f| %>
    <!--エラーメッセージ-->
    <% if @review.errors.any? %>
      <%= @review.errors.count %>件のエラーが発生しました
      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <!--商品コードの送信-->
    <%= f.hidden_field :item_id, :value => @item.id %>
    <!--ユーザーidの送信-->
    <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
    <!-- 評価 -->
    <%= f.label :evaluation,'評価' %>
    <div id="star"></div>
    <!-- 評価javascript -->
    <script>
    var elem = document.getElementById('star');
    var opt = {
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'review[evaluation]',
      half: true,
    };
    raty(elem,opt);
    </script>
  <!-- 評価 -->
  <%= f.label :content, 'レビュー内容' %>
  <%= f.text_area :content %>
  <%= f.select :status, [["公開", "published"], ["下書き", "draft"]] %>
  <%= f.submit '投稿する' %>
<% end %>
<h1>レビュー一覧</h1>
  <thead>
    <tr>
      <th>投稿者</th>
      <th></th>
      <th>レビュー内容</th>
    </tr>
  </thead>
  <tbody>
    <% @item.reviews.each do |review| %>
    <tr>
      <td><%= review.end_user.user_name %></td>
      <!--星評価-->
      <td>
        <div id="star-rate-<%= review.id %>"></div>
        <script>
        var elem = document.getElementById('star-rate-<%= review.id %>');
        var opt = {
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= review.evaluation %>,
          };
          raty(elem, opt)
        </script>
      </td>
      <td><%= review.content %></td>
     <% if review.favorited_by?(current_end_user) %>
        <p>
          <%= link_to review_favorites_path(review), method: :delete do %>
            ♥<%= review.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to review_favorites_path(review), method: :post do %>
            ♡<%= review.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
      <% if review.end_user == current_end_user %>
      <td>
        <%= link_to "編集する", edit_review_path(@item, review), class:"btn btn-success" %>
      </td>
      <td>
        <%= link_to "削除する", review_path(review), class:"btn btn-danger", method: :delete,"data-confirm"=>"本当に消しますか？" %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>